@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg {
    background-image: url("../../public/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
